.git/
.refs/
.uv/
.venv*/
venv*/
.pixi/
__pycache__/
*.pyc
*.pyo
*.egg-info/

.sangoi/reports/
.sangoi/.tools/

workspace*/
models*/
training_concepts/
training_samples/
training_deltas/
training_user_settings/
external/
txt/
tools/
debug*/
config.json
secrets.json
update.var
*.zip
