root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 140
tab_width = 2
ij_continuation_indent_size = 4
ij_formatter_off_tag = @formatter:off
ij_formatter_on_tag = @formatter:on
ij_formatter_tags_enabled = true
ij_smart_tabs = false
ij_visual_guides = none
ij_wrap_on_typing = false

[*.html]
indent_size = 2

[*.yml]
indent_size = 2

[*.yaml]
indent_size = 2

[**/admin/js/vendor/**]
indent_style = ignore
indent_size = ignore

[**.min.js]
indent_style = ignore
insert_final_newline = ignore

[Makefile]
indent_style = tab

[*.bat]
end_of_line = crlf
indent_style = tab
